.place__image {
  max-width: 100%;
  object-fit: cover;

  margin: 0;

  grid-column: 1;
  grid-row: 2/5;
}

@media screen and (max-width: 767px) {
  .place__image {
    grid-column: 1;
    grid-row: 3;

    margin-bottom: 32px;
  }
} 