.footer__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 699px) {
    .footer__links {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 32px;
    }
  }