.cover__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;

  max-width: 560px;
  margin: 0;

  z-index: 6;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;

    max-width: 288px;
  }
}